<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=ceceliaint.db.8826416.hostedresource.com; Initial Catalog=ceceliaint; User ID=ceceliaint; Password='cmP!123Kzoo';" providerName="System.Data.SqlClient"/>-->
    <add name="ConnectionString" connectionString="Data Source=cecelia1.db.6455418.hostedresource.com; Initial Catalog=cecelia1; User ID=cecelia1; Password='cmP!123Kzoo';" providerName="System.Data.SqlClient"/>
    <!--<add name="ConnectionString" connectionString="Data Source = WIN-EVMN1635IVU;Initial Catalog=ceceliaint;Integrated Security=True;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>